/* Navbar com a mesma cor do botão */
.navbar {
    width: 100%;
    height: 60px;
    background-color: #785959e8; /* Mesma cor do botão */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Linha sutil na parte inferior */
    transition: background-color 0.3s ease-in-out;
}

/* Título da navbar */
.navbar-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

/* Efeito ao passar o mouse */
.navbar:hover {
    background-color: #654545; /* Leve escurecimento no hover */
}
